.board-wrapper {
    width: 300px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
}

.board__grid-item {
    width: 31%;
    border: 1px solid black;
    height: 31%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
}

.board__grid-item--mini {
    width: 31%;
    border: 1px solid lightgrey;
    height: 31%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
}

